<h1>Activación de cuenta en Sky Mensseger</h1>

<p>
Hola {{ nick }}, <br><br>
Usted se ha registrado satisfactoriamente en SKY Messenger para activar su cuenta de clic <a href="{{ signedUrl|raw }}">aquí</a>. <br><br>
Si necesitas ayuda o tienes alguna sugerencia, no dudes en contactar con soporte.infotecstudio@gmail.com
</p>

<p>
    Saludos, <br><br>
    El equipo de Infotec Studio
</p>
