<h1>Felicidades usted se ha registrado en Sky Messenger!</h1>

<p>
    Por favor antes de poder activar su cuenta necesitamos verificar su dirección de correo, de click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi dirección de correo</a>.
    Este enlace expira en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos!
</p>
