.msg_nick{
    position: absolute;
    left: 0;
    top: -20px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.offline_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #e61717;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}

.action_menu{
    
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(4,25,84,96%) !important;
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.img_profile_center {
    display: block;
    margin: auto;
}

.img_perfil_show {
    width:100px;
    height:100px;
    border-radius:50px;
}

.img_perfil_index {
    width:50px;
    height:50px;
    border-radius:25px;
}