<h1>Aviso de mensaje nuevo en Sky Mensseger</h1>

<p>
Hola {{ nick }}, <br><br>
Usted se ha recibido un nuevo mensaje de "{{ remitente }}".<br><br>
</p>

<p>
El contenido del mensaje es el siguiente: <br><br>
"{{ contenido }}"<br><br>
</p>

<p>
    Si considera que son molestos estos avisos, usted puede desmarcar la opción "Avisar llegada de mensajes nuevos" en la Configuración.<br></br>
    Si necesitas ayuda o tienes alguna sugerencia, no dudes en contactar con soporte.infotecstudio@gmail.com
</p>

<p>
    Saludos, <br><br>
    El equipo de Infotec Studio
</p>