{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function (){   
            var idDestinarario = -1;         
            EstablecerDestinatario(idDestinarario);          
        });
        function EstablecerDestinatario(idDestinarario){
            this.idDestinarario = idDestinarario;
            $('#destinatario').text(this.idDestinarario);
        }        
    </script>
{% endblock %}

{% block body %}

<header>
<div>Escribiendo a <span><b>Sala pública</b></span><span id="destinatario">-1</span></div>
<div>Area del usuario logueado</div>
</header>

<article>
    <section>
    Area para los mensajes
    </section>
</article>

<aside>
    <ul>
        <li>Sala pública <a href="#" onclick="EstablecerDestinatario(-1);">Compartir</a></li>
        <li>Usuario 1 <a href="#" onclick="EstablecerDestinatario(1)">Privado</a><span> </span><a href="#">Perfil</a></li>
        <li>Usuario 2 <a href="#" onclick="EstablecerDestinatario(2)">Privado</a><span> </span><a href="#">Perfil</a></li>
    </ul>
</aside>

<article>
<input type="text" name="texto" placeholder="Escriba el mensaje">
<button type="submit" onclick="alert(idDestinarario);">Enviar</button>
</article>

{% endblock %}
