{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function (){   
            var idDestinarario = -1;                      
            EstablecerDestinatario(idDestinarario);

            var destinararios1 = [];
            $.get("{{path('get_logued_users')}}", function(data, status){
                if(status == 'success'){
                    destinatarios1 = data.data;
                }              
            });         
        });
        var destinararios = {
                '-1': 'Sala pública',
                '1': 'Usuario 1',
                '2': 'Usuario 2'
            }  
        function EstablecerDestinatario(idDestinarario){
            this.idDestinarario = idDestinarario;
            $('#destinatario').text(destinararios[this.idDestinarario]);
        }        
    </script>
{% endblock %}

{% block body %}
<header>
<div>Escribiendo a <span id="destinatario">Nada<b></b></span></div>
<div>
<span>Usuario logueado: <b>{{ perfil.nick }}</b></span>
<a href="{{ path ('app_logout')}}">(Salir)</a>
<br />
<a target="_blank" href="{{ path ('perfil_show', {'id':perfil.id})}}">Mi perfil</a>
</div>
</header>

<article>
    <section>
    Area para los mensajes
    </section>
</article>

<aside>
    <ul id="listado_destinatarios">
        <li>Sala pública <a href="#" onclick="EstablecerDestinatario(-1);">Escribir</a></li>
        <li>Usuario 1 <a href="#" onclick="EstablecerDestinatario(1)">Escribir</a><span> </span><a href="#">Perfil</a></li>
        <li>Usuario 2 <a href="#" onclick="EstablecerDestinatario(2)">Escribir</a><span> </span><a href="#">Perfil</a></li>
    </ul>
</aside>

<article>
<input type="text" name="texto" placeholder="Escriba el mensaje">
<button type="submit" onclick="alert(idDestinarario);">Enviar</button>
</article>

{% endblock %}
