<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <META NAME="AUTHOR" CONTENT="INFOTEC STUDIOS">
        <META NAME="REPLY-TO" CONTENT="infotecstudios@nauta.cu">
        <LINK REV="made" href="mailto:infotecstudios@nauta.cu">
        <META NAME="DESCRIPTION" CONTENT="Sistema de mensajería vía web, mantengase en contacto todo el tiempo desde cualquier dispositivo">
        <META NAME="KEYWORDS" CONTENT="Mensajeria Web,Desarrollo de aplicaciones,Infotec Studios,Software Development,Aplicaciones a medida">
        <META NAME="Resource-type" CONTENT="Document">
        <META NAME="Revisit-after" CONTENT="3 days">
        <META NAME="robots" content="ALL">

        <title>{% block title %}Welcome!{% endblock %} | Sky Messenger</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery/jquery-3.2.1.min.js') }}"></script> 
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block footer %}&reg; 2021 Sky Messenger es un producto de Infotec Studio.{% endblock %}
    </body>
</html>
